{#{% extends 'base.html.twig' %}#}
{% block body %}
    <h1>Liste des Conferences</h1>
    <br>
    <table>
        <tr>
            <td><h4>Title</h4></td>
            <td><h4>Lieu</h4></td>
            <td><h4>Subtitle</h4></td>
            <td><h4>Subtext</h4></td>
        </tr>
        {% for homepage in homepages %}
            <tr>
                <td>{{ homepage.title }}</td>
                <td>{{ homepage.lieu }}</td>
                <td>{{ homepage.subtitle }}</td>
                <td>{{ homepage.subtext }}</td>
                <td><a href={{ path('app_homepage_edit', {'id': homepage.id }) }}><button>editer</button></a></td>
            </tr>

        {% endfor %}
    </table>
    <br>
{% endblock body %}