{% extends 'base.html.twig' %}
{% block body %}
    <div class="gb-breadcrumb gb-bg white-color">
        <div class="container">
            <div class="breadcrumb-info text-center">
                <div class="page-title">
                    <h1>
                        <span class="before-top"></span>
                        <span>Homepage Management</span>
                        <span class="before-bottom"></span>
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_homepage_index') }}">Home</a></li>
                    <li><a href="{{ path('admin') }}">Board Administrator</a></li>
                    <li class="active">Homepage Management</li>
                </ol>
            </div>
        </div><!-- /.container -->
    </div><!-- /.gb-breadcrumb -->
    <div class="title-section">
        <h1 class="color-red">
            <span class="before-top"></span>
            <span>Homepage</span>
            <span class="before-bottom"></span>
        </h1>
    </div>
    <div class="gb-speakers gb-section">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Lieu</th>
                    <th>SubTitle</th>
                    <th>SubText</th>
                </tr>
                </thead>
                <tbody>
                {% for homepage in homepages %}
                    <tr>
                        <td>{{ homepage.title }}</td>
                        <td>{{ homepage.lieu }}</td>
                        <td>{{ homepage.subtitle }}</td>
                        <td>{{ homepage.subtext }}</td>

                        <td><a href={{ path('app_homepage_edit', {'id': homepage.id }) }}><button>edit</button></a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.container -->
    </div>






{% endblock body %}