{% extends 'base.html.twig' %}
{% block body %}
    <div class="gb-breadcrumb gb-bg white-color">
        <div class="container">
            <div class="breadcrumb-info text-center">
                <div class="page-title">
                    <h1>
                        <span class="before-top"></span>
                        <span>Participant Management</span>
                        <span class="before-bottom"></span>
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_homepage_index') }}">Home</a></li>
                    <li><a href="{{ path('admin') }}">Board Administrator</a></li>
                    <li class="active">Participant Management</li>
                </ol>
            </div>
        </div><!-- /.container -->
    </div><!-- /.gb-breadcrumb -->
    <div class="title-section">
        <h1 class="color-red">
            <span class="before-top"></span>
            <span>Participants</span>
            <span class="before-bottom"></span>
        </h1>
    </div>
<div class="gb-speakers gb-section">
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Organization</th>
            <th>Country</th>
            <th>Speaker</th>
        </tr>

        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.name }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.institution }}</td>
                <td>{{ participant.nationality }}</td>
                {% if participant.speaker == 1 %}
                    <td>Speaker</td>
                {% endif %}
                {% if participant.speaker == 0 %}
                    <td>No Speaker</td>
                {% endif %}
                <td><a href={{ path('app_participant_edit', {'id': participant.id }) }}><button>Edit</button></a></td>
                <td><a href={{ path('admin_participant_delete', {'id': participant.id }) }}><button>Delete</button></a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
    </div><!-- /.container -->
</div>





{% endblock body %}


