{% extends 'base.html.twig' %}



{% block body %}

    <h1>{{ homepage.title }}</h1>
    <br>
    <p>{{ homepage.date }}</p>
    <br>
    <p>{{ homepage.lieu }}</p>
    <br>
    <p>{{ homepage.subtitle }}</p>
    <br>
    <p>{{ homepage.subtext }}</p>
    <br>
    <p>{{ homepage.footer }}</p>

{% endblock body %}