<footer class="gb-footer white-color text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ asset("http://www.univ-artois.fr") }}" target="_blank"><img class="img-responsive" src="{{ asset("images/Logo_Artois.png") }}" alt="Logo_Artois"></a>
            </div>
            <div class="col-md-4">
                <a href="{{ asset("http://federation-math.univ-lille1.fr" ) }}" target="_blank"><img class="img-responsive" src="{{ asset("images/Logo_FRMNPC.png") }}" alt="Logo_FRMNPC"></a>
            </div>
            <div class="col-md-4">
                <a href="{{ asset("http://lml.univ-artois.fr") }}" target="_blank"><img class="img-responsive" src="{{ asset("images/Logo_LML.png") }}" alt="Logo_LML"></a>
            </div>
        </div>
    </div>
</footer><!-- /.gb-footer -->