{% extends 'base.html.twig' %}


{% block body %}



    {% for conference in conference %}
        {{ conference.title }}
        {{ conference.participant.name }}
        {{ conference.content }}
        {{ conference.date|date }}
        {{ conference.heuredebut|date }}
        {{ conference.heurefin|date}}
        {{ conference.lieu }}

        <a href="{{ path('app_conference_new') }}">Nouvelle conference</a>
        <a href="{{ path('app_conference_edit', {'id': conference.id}) }}">Edit</a> --
        <a href="{{ path('app_conference_delete', {'id': conference.id}) }}">Delete</a>


    {% endfor %}


{% endblock %}