{% extends 'base.html.twig' %}
{% block body %}
    <div class="gb-breadcrumb gb-bg white-color">
        <div class="container">
            <div class="breadcrumb-info text-center">
                <div class="page-title">
                    <h1>
                        <span class="before-top"></span>
                        <span>I wish to attend</span>
                        <span class="before-bottom"></span>
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_homepage_index') }}">Home</a></li>
                    <li class="active">New</li>
                </ol>
            </div>
        </div><!-- /.container -->
    </div><!-- /.gb-breadcrumb -->

    {{ form_start(form) }}
    <div class="gb-contact-form gb-section">
        <div class="container">

            <form action="#" class="gb-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.title, { "attr": {
                                'placeholder': 'title',

                                'class':"form-control"
                            } }) }}
                            {{ form_widget(form.lieu, { 'attr': {
                                'placeholder': 'Lieu',

                                'class':"form-control"
                            } }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.date,"Date") }}
                            {{ form_widget(form.date) }}
                        </div>
                            <div class="form-group">
                                {{ form_label(form.heuredebut,"Heure de début") }}
                                {{ form_widget(form.heuredebut) }}

                            </div>
                            <div class="form-group">
                                {{ form_label(form.heurefin,"Heure de fin") }}
                                {{ form_widget(form.heurefin) }}
                            </div>


                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.content, { 'attr': {
                                'placeholder': 'Abstract',
                                'class':"form-control"
                            } }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.participant, "Speaker") }}
                            {{ form_widget(form.participant) }}
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn button-red pull-right"><span>Register</span></button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    {{ form_end(form) }}


{% endblock body %}